<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css">
    <link rel="icon" href="../static/images/icon.png" />
    <!-- Import jQuery and JavaScript file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/3-hbnb.js"></script>
    <!-- Add cache_id as a query string to the script tag -->
    <script src="../static/scripts/3-hbnb.js?cache_id={{ cache_id }}"></script>
    <title>HBnB</title>
  </head>
  <body>
    <!-- ... (rest of your HTML code) -->
    <div class="header">
      <!-- Add new div element for API status -->
      <div id="api_status" class="available"></div>
      <!-- ... (rest of your header content) -->
    </div>
    <div class="amenities">
      <h3>Amenities</h3>
      <h4>&nbsp;</h4>
      <div class="popover">
        <ul> {% for amenity in amenities %} <li>
            <!-- Add checkbox and data attributes -->
            <input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}">
            <h2>{{ amenity.name }}:</h2>
          </li> {% endfor %} </ul>
      </div>
    </div>
    <button type="button" id="search-button">Search</button>
    <section class="places">
      <!-- This section will be populated with places using JavaScript -->
    </section>
  </body>
</html>
